body {
    margin: 10px;
    color: black;
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

#main-title {
    color: #333333;
    font-weight: 300;
    font-size: 48;
    margin: 10px auto 20px;
    text-align: center;
}

#card-container {
    align-items: center;
    background-color: #333333;
    border: 1px black solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    left: 10%;
    justify-content: space-around;
    position: absolute;
    width: 80%;
}

.item-card {
    background-color: #FFFFFF;
    border: 1px solid #333333;
    height: 40vh;
    margin: 25px;
    text-align: center;
    width: 25%;
}

.item-description-title {
    font-size: 24;
    font-weight: 700;
}

.item-picture {
    height: 10vh;
    /* width: 100%; */
}

#order-history {
    background-color: #FFFFFF;
    display: flex;
    border: 1px #333333 solid;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    height: 100%; 
}

#order-history-sidebar {
    border-left: 1px solid #333333;
    background-color: #777777;
    width: 50px
}

#order-history-sidebar-title {
    transform: rotate(-90deg);
}

#order-history-information {
    width: 300px
}

.sidebar-toggle {
    border-bottom: 1px solid #333333;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 36;
    height: 50px;
    margin: 0;
}

#order-history-information-container{
    border-bottom: 1px solid #333333;
}

.order-history-card {
    border-top: 1px solid #333333;
}

#shopping-cart {
    background-color: #FFFFFF;
    text-align: center;
    border: 1px #333333 solid;
    display: flex;
    right: 0;
    overflow-y: scroll;
    position: fixed;
    height: 100%;
}

#shopping-cart-sidebar {
    border-right: 1px solid #333333;
    background-color: #777777;
    width: 50px
}

#shopping-cart-information {
    text-align: center;
    margin: 0 20px;
    width: 260px;
}

#purchase-all {
    margin: 10px;
}

.shopping-cart-item {
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    margin: 0;
    width: 100%;
}

#shopping-cart-total {
    margin: 0;
}

span {
    margin: 10px 0;
    height: 30px;
    display: flex;
    width: 90%
}

.hidden {
    display: none;
}

.visible {
    display: static;
}